<div class="post-title">
  <h2><%= @post.title %></h2>
</div>
<div class="post-body"
  <p><%= @post.body %></p>
</div>
<small>Post created <%= time_ago_in_words(@post.created_at) %> ago</small>
<%= link_to 'Edit', edit_post_path(@post.id) %>
<%= link_to 'Delete', post_path(@post.id), method: :delete %>

  <h3>Leave a Comment</h3>
  <%= form_for @comment, url: post_comments_path(@post) do |f| %>
    <%= f.text_area :body, class: "form-control" %>
    <%= f.submit 'Add Comment' %>
  <% end %>
  <h2>Comments</h2> <hr>
  <div class="answer-list">
    <div class="answer-list-item">
      <% @comments.each do |comment| %>
      <p><%= comment.body %></p>
      <small>Comment made <%= time_ago_in_words(@post.created_at) %> ago</small>
      <%= link_to 'Delete', comment_path(comment.id), method: :delete %>
      <hr>
      <% end %>
    </div>
  </div>
