<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <%= link_to 'Blog on Rails', root_path %>
      <%= link_to 'New Post', new_post_path %>
    </nav>
    <hr>

    <%= yield %>
  </body>
</html>
