<%= form_for @user do |f| %>
  <% if @user.errors.present? %>
    <p><%= @user.errors.full_messages.join(', ') %> </p>
  <% end %>

  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control"%>
  </div>

  <div>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control"%>
  </div>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email, class: "form-control"%>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password, class: "form-control"%>
  </div>

  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class: "form-control"%>
  </div>

  <%= f.submit 'Sign Up', class: "btn btn-outline-primary"%>
    <%= link_to 'Cancel', root_path %>
<% end %>
